<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ title }}</h1>
      <p class="lead text-muted">Découvrez notre sélection d’articles à prix imbattables !</p>
    </div>
  </section>

  <!-- Utilisation d'un observable pour afficher le temps écoulé -->
  <div class="container mb-4">
    <div class="d-flex justify-content-center">
      <!-- <h5>Vous êtes connecté depuis : {{ secondes }} secondes</h5> -->
       <!-- <h5>{{ secondes }}</h5> -->
    </div>
  </div>
  <!-- ✅ le router-outlet prend la place du contenu central -->
  <div class="album py-5 bg-light">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a routerLink="/feedback">Envoyer un feedback</a>
    </p>
  </div>
</footer>
